* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: var(--font-family-normal);
    font-size: var(--font-mobile);
}

:root {
    --font-mobile: 14px;
    --font-family-special:'Raleway', sans-serif;
    --font-family-normal:'Open Sans',sans-serif;
}
nav{
    background-color: hsl(218, 28%, 13%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}
.nav-logo{
    width: 6rem;
}
.nav-links a{
    padding-left: 1.5rem;
    text-decoration: none;
}
main {
    background-color: hsl(218, 28%, 13%);
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1.5rem;
    max-width: 500px;

    margin: 0 auto;
}

.hero img{
    width: 100%;
}
h1 {
    font-size: 1.75rem;
    font-family: var(--font-family-special);
    line-height: 2.5rem;
    padding: 1.75rem 0;

}
.hero p{
    line-height: 1.5rem;
    padding: 0 1rem 1.75rem;
}
.hero-button{
    background-image: linear-gradient(90deg,
    hsl(176deg 68% 64%) 0%,
    hsl(178deg 66% 62%) 20%,
    hsl(180deg 64% 59%) 29%,
    hsl(182deg 65% 58%) 36%,
    hsl(184deg 66% 56%) 43%,
    hsl(186deg 67% 55%) 49%,
    hsl(187deg 68% 54%) 54%,
    hsl(188deg 68% 52%) 60%,
    hsl(190deg 68% 51%) 65%,
    hsl(191deg 67% 51%) 71%,
    hsl(192deg 67% 50%) 76%,
    hsl(193deg 66% 50%) 81%,
    hsl(195deg 64% 50%) 87%,
    hsl(196deg 62% 50%) 93%,
    hsl(198deg 60% 50%) 100%);
    padding: 1rem 6rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    
}
.hero-button:hover{
    background-color: #8CDAE4;
    background-image: none;
}



.benefits{
    display: flex;
    flex-direction: column;

    text-align: center;

    padding: 1.5rem;
}
.benefits-item{
    padding-top: 5rem;
}
.benefits-item p{
    line-height: 1.5rem;
}
h2 {
    padding: 2rem 0 1rem;
    font-size: 1.25rem;
}

footer{
    background-color: hsl(216, 53%, 9%);
}