@media  (min-width:750px) {
    nav{
        padding: 2rem 4rem;
    }
    .hero-img{
        width: 115%;
    }
    h1{
        font-size: 2.25rem;
    }
    .hero p{
        font-size: 16px;
    }
    main{
        max-width: 108rem;
    }
    .benefits{
        display: grid;
        grid-template-columns: repeat(2, 325px);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        grid-column-gap: 5rem;
        grid-row-gap: 2.5rem;
    }
    
    .benefits-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .benefits-item img {
        width: 20%;
    }
    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .div3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .stay-productive{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .stay-productive-text{
        width: 40%;
        margin-left: 1.75rem;
    }
    h3{
        font-size: 2.5rem;
        
        line-height: 2.5rem;
    }
    .stay-productive-img{
        width: 450px;
    }

    .testimonial{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 1rem;
    }
    .testimonial-card {
        margin-top: 35px;
        flex-basis: 350px;
        z-index: 1;   
    }

    .quotes{
        position: relative;
        top:155px;
        left: 25%;
        z-index: 0;
        width: 5%;
    }
    .input-card{
        max-width: 850px;
        max-height: 175px;
        margin: 0 auto;
        top:10rem;
        
    }
    h4{
        font-size: 2rem;
    }
    .imput{
        flex-direction: row;
        justify-content: center;
    }
    #email{
        width: 35rem;
    }
    .footer-contact-us{
        max-width: 108rem;
    }
    
    .contact-us {
    display: grid;
    grid-template-columns: 350px repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap:10px;
    margin: 0 4rem;
    }
    
    .logo-footer{
        width: 10rem;
        height: 40px;
        position: relative;
        left: 5rem;
        top: 2rem;
    }
    ul{
        padding-top: 0;
        
    }
    .logos{
        padding-top: 1rem;
        align-self: flex-start;
        justify-content: flex-start;
    }
    footer{
        max-width: 108rem;
    }
}

@media (min-width:870px){
    .quotes{
        left: 125px;
    }
}

@media (min-width:1070px){
    h3{
        padding-right: 13rem;
    }
    .testimonial {
    padding-inline: 1.75rem;
}
    .stay-productive-img {
        width: 500px;
}
.quotes{
    left: 8%;
}
}

@media (max-width:926px) {
    .grid2,.grid3,.grid4 {
        justify-self: center;
    }
    .grid5{
        justify-self: flex-end;
    }
}